include ../includes/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= pageTitle
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins&display=swap")
    link(rel="stylesheet", href="/css/main.css")
    block styles
  body
    nav.main-nav
      ul.main-nav__list
        each page in pages
          +navitem(page.title, page.url, currentUrl)
    main
      block content
