<form class="product-form" action="/admin/add-product" method="POST">
  <h1 class="product-form__title">Add Product</h1>
  <div class="product-form-group">
    <label class="product-form-group__label" for="name">Name</label>
    <input class="product-form-group__input" id="name" name="name" placeholder="Type name here..." type="text" />
  </div>
  <button class="button" type="submit">Add Product</button>
</form>