<% if (isAuthenticated) { %>
	<form class="product__action-form" action="/cart" method="POST">
		<%- include('./csrf'); -%>
		<input type="hidden" name="id" value="<%= product._id %>" />
		<button class="button">Add to Cart</button>
	</form>
<% } %>
