		</main>
		<% if (locals.scripts) { %>
			<% for (const script of scripts) { %>
				<script src="<%= /^https?\:\/{2}/i.test(script) ? script : `/js/${script}.js` %>"></script>
			<% } %>
		<% } %>
	</body>
</html>
