<% if (
	(isAuthenticated && !page.nonAuthOnly) || 
	(!isAuthenticated && !page.requiresAuth)
) { %>
	<li class="main-nav__list-item">
		<a
			class="<%= (page.url === currentUrl) ? 'active' : '' %>"
			href="<%= page.url %>"
		>
			<%= page.title %>
		</a>
	</li>
<% } %>
