<nav class="main-nav">
	<ul class="main-nav__list">
		<% if (pages.left) { %>
			<div class="main-nav__list-items main-nav__list-items--left">
				<% pages.left.forEach(page => { %> 
					<%- include('./nav-item', { page }); -%> 
				<% }); %>
			</div>
		<% } %> 
		<% if (pages.right) { %>
			<div class="main-nav__list-items main-nav__list-items--right">
				<% pages.right.forEach(page => { %> 
					<%- include('./nav-item', { page }); -%> 
				<% }); %>
			</div>
		<% } %>
	</ul>
</nav>
