<nav class="pagination">
  <%- include('./pagination-item', { page: 1 }); -%>

  <% if (currentPage - offset > 2) { %>
    <span>...</span>
  <% } %>

  <% for (let i = Math.max(currentPage - offset, 2); i <= Math.min(currentPage + offset, totalPages - 1); i++) { %>
    <%- include('./pagination-item', { page: i }); -%>
  <% } %>

  <% if (currentPage + offset < totalPages - 1) { %>
    <span>...</span>
  <% } %>
  
  <% if (totalPages !== 1) { %>
    <%- include('./pagination-item', { page: totalPages }); -%>
  <% } %>
</nav>
