<% if (page === currentPage) { %>
  <span class="pagination__item button button--active">
    <%= page %>
  </span>
<% } else { %>
  <a 
    class="pagination__item button" 
    href="<%= `?page=${page}` %>"
  >
    <%= page %>
  </a>
<% } %>
