<%- include('../partials/head', { styles: ['form'] }); -%>

<form
	autocomplete="off"
	class="form"
	action="/reset"
	method="POST"
>
	<h1 class="main-heading">
		Reset password
	</h1>
	<div class="form-group">
		<label class="form-group__label" for="email">Email</label>
		<input
			class="form-group__input"
			id="email"
			name="email"
			type="email"
		/>
	</div>
	<%- include('../partials/csrf'); -%>
	<button class="button" type="submit">
		Reset Password
	</button>
</form>

<%- include('../partials/end'); -%>
