<%- include('../partials/head', { styles: ['form'] }); -%>

<form
	autocomplete="off"
	class="form"
	action="/signup"
	method="POST"
>
	<h1 class="main-heading">
		Sign Up
	</h1>
	<%- include('../partials/form-inputs', { 
		fields: [ 
			{
				id: 'email', 
				label: 'Email', 
				name: 'email',	
				type: 'text',
				vertical: true
			},
			{
				id: 'password',
				label: 'Password',
				name: 'password',
				type: 'password',
				vertical: true
			},
			{
				id: 'confirmPassword',
				label: 'Confirm Password',
				name: 'confirmPassword',
				type: 'password',
				vertical: true
			}
		]
	}); -%>
	<%- include('../partials/csrf'); -%>
	<button class="button" type="submit">
		Sign Up
	</button>
</form>

<%- include('../partials/end'); -%>
