<%- include('./partials/head'); -%>

<tr>
  <td align="center" valign="top" style="word-break: break-word;">
    <br />
    <span style="color: rgb(179, 136, 19); font-size: 20px;">
      Want to reset your password?
    </span>
    <br />
    <br />
    <span style="font-size: 16px;">
      Click the link below to reset your password (link will be active for the next two hours):
    </span>
    <br />
    <br />
    <a href="<%= resetHref %>" style="color: rgb(179, 136, 19); text-decoration: underline;">
      <%= resetHref %>
    </a>
  </td>
</tr>

<%- include('./partials/end'); -%>
