<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;" />
    <meta name="format-detection" content="telephone=no"> 
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400&display=swap" rel="stylesheet" type="text/css" />
    <title>Reset password</title>
  </head>
  <body style="background-color: rgb(253, 242, 213); margin: 0; padding: 0;">
    <table 
      border="0" 
      cellpadding="10" 
      cellspacing="10" 
      style="font-family: 'Poppins', Arial, sans-serif; margin: 0; padding: 0;" 
      width="100%"
    >
      <tr>
        <td align="center" valign="top" style="word-break: break-word;">
          <br />
          <span style="color: rgb(179, 136, 19); font-size: 20px;">
            Want to reset your password?
          </span>
          <br />
          <br />
          <span style="font-size: 16px;">
            Click the link below to reset your password (link will be active for the next two hours):
          </span>
          <br />
          <br />
          <a href="<%= resetHref %>" style="color: rgb(179, 136, 19); text-decoration: underline;">
            <%= resetHref %>
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>
