<%- include('./partials/head'); -%>

<tr>
  <td align="center" valign="top" style="word-break: break-word;">
    <br />
    <span style="color: rgb(179, 136, 19); font-size: 32px;">
      Welcome,
    </span>
    <br />
    <span style="color: rgb(179, 136, 19); font-size: 20px;">
      <%= email %>!
    </span>
    <br />
    <br />
    <span style="font-size: 16px;">
      Your account has been successfully created.
    </span>
    <br />
    <br />
    <table border="0" cellspacing="0" cellpadding="10" style="background-color: rgb(179, 136, 19);">
      <tr>
        <td align="center" style="color: rgb(253, 242, 213); font-size: 16px;">
          <a href="<%= shopHref %>" style="color: rgb(253, 242, 213); text-decoration: none;">
            Go to Shop
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<%- include('./partials/end'); -%>
