extends layouts/default

block styles
  link(rel="stylesheet", href="/css/product-form.css")

block content
  form.product-form(action="/admin/add-product", method="POST")
    h1.product-form__title Add Product
    .product-form-group
      label.product-form-group__label(for="name") Name
      input.product-form-group__input#name(name="name", placeholder="Type name here...", type="text")
    button.button(type="submit") Add Product
