.checkout-wrapper {
	max-width: 100rem;
}

.checkout {
	display: flex;
	flex-flow: row wrap-reverse;
	font-size: 1.8rem;
	gap: 4rem;
	margin: -2rem;
}

.checkout > * {
	margin: 2rem;
}

.checkout__heading {
	font-size: 2.4rem;
	margin: 0;
}

.checkout__order,
.checkout__payment {
	border: 1px solid var(--main-medium);
	padding: 3rem;
}

.checkout__order {
	flex: 1;
}

.checkout__payment {
	flex: 2;
	position: relative;
}

.checkout__payment .form {
	height: calc(100% + 2 * 1.25rem);
	opacity: 1;
	transition: opacity 0.5s linear;
}

.checkout__payment .form--loading {
	opacity: 0.1;
	pointer-events: none;
}

.checkout__payment .form--loading ~ .loader {
	display: block;
}

.checkout__price {
	font-weight: 600;
}

.no-js .checkout__payment {
	align-items: center;
	display: flex;
	justify-content: center;
}

.no-js .checkout__payment .form {
	display: none;
}
