.form {
	display: flex;
	flex-flow: column nowrap;
	font-size: 1.8rem;
	width: 100%;
}

.login-form {
	max-width: 45rem;
}

.product-form {
	max-width: 65rem;
}

.form .button {
	align-self: flex-end;
}

.form__title {
	font-size: 3.2rem;
	margin-bottom: 3rem;
}

.form-group {
	align-items: baseline;
	display: flex;
	margin-bottom: 2.5rem;
}

.form-group--vertical {
	align-items: stretch;
	flex-flow: column nowrap;
}

.form-group__input,
.form-group__textarea {
	background: none;
	border: none;
	border-bottom: 1px solid var(--main-dark);
	font: inherit;
	min-width: 20rem;
}

.form-group__input {
	flex: 1;
}

.form-group__textarea {
	border-right: 1px solid var(--main-dark);
	resize: vertical;
}

.form-group__label {
	margin-right: 2rem;
}
